.aishlin-wishhart-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CP9s.png") no-repeat;
	background-size:100% 100%;
}
.chloe-myeonghwa-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CpNQ.png") no-repeat;
	background-size:100% 100%;
}
.ikeda-kana-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3C9hj.png") no-repeat;
	background-size:100% 100%;
}
.kanbara-satomi-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3Ci3n.png") no-repeat;
	background-size:100% 100%;
}
.matsumi-kuro-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CSAg.png") no-repeat;
	background-size:100% 100%;
}
.nelly-virsaladze-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CVBT.png") no-repeat;
	background-size:100% 100%;
}
.shimizudani-ryuuka-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CZHU.png") no-repeat;
	background-size:100% 100%;
}
.tawamura-tomoki-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CmEF.png") no-repeat;
	background-size:100% 100%;
}
.amae-koromo-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CnN4.png") no-repeat;
	background-size:100% 100%;
}
.ezaki-hitomi-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3Cu4J.png") no-repeat;
	background-size:100% 100%;
}
.inoue-jun-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CMC9.png") no-repeat;
	background-size:100% 100%;
}
.karijuku-tomoe-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CQ3R.png") no-repeat;
	background-size:100% 100%;
}
.matsumi-yuu-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3Clg1.png") no-repeat;
	background-size:100% 100%;
}
.onjouji-toki-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3C1jx.png") no-repeat;
	background-size:100% 100%;
}
.shirouzu-mairu-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CGDK.png") no-repeat;
	background-size:100% 100%;
}
.toyouko-momoko-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3C8u6.png") no-repeat;
	background-size:100% 100%;
}
.anetai-toyone-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3Almq.png") no-repeat;
	background-size:100% 100%;
}
.fukuji-mihoko-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3AK6s.png") no-repeat;
	background-size:100% 100%;
}
.iwato-kasumi-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3A100.png") no-repeat;
	background-size:100% 100%;
}
.kataoka-yuuki-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3A37V.png") no-repeat;
	background-size:100% 100%;
}
.maya-yukiko-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3AMXn.png") no-repeat;
	background-size:100% 100%;
}
.oohoshi-awai-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3AJtU.png") no-repeat;
	background-size:100% 100%;
}
.shirouzu-mairu+tsuruta-himeko-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3AU1J.png") no-repeat;
	background-size:100% 100%;
}
.tsujigaito-satoha-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3ANp4.png") no-repeat;
	background-size:100% 100%;
}
.arakawa-kei-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3AYhF.png") no-repeat;
	background-size:100% 100%;
}
.hanada-kirame-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3Aac9.png") no-repeat;
	background-size:100% 100%;
}
.jindai-komaki-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3A0n1.png") no-repeat;
	background-size:100% 100%;
}
.kosegawa-shiromi-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3AB0x.png") no-repeat;
	background-size:100% 100%;
}
.megan-davin-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3AytO.png") no-repeat;
	background-size:100% 100%;
}
.ryuumonbuchi-touka-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3AD76.png") no-repeat;
	background-size:100% 100%;
}
.someya-mako-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3A6hD.png") no-repeat;
	background-size:100% 100%;
}
.tsuruta-himeko-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3AsAK.png") no-repeat;
	background-size:100% 100%;
}
.atago-hiroe-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CP9s.png") no-repeat;
	background-size:100% 100%;
}
.hao-huiyu-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CP9s.png") no-repeat;
	background-size:100% 100%;
}
.kainou-yoshiko-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CP9s.png") no-repeat;
	background-size:100% 100%;
}
.kunihiro-hajime-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CP9s.png") no-repeat;
	background-size:100% 100%;
}
.miyanaga-saki-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CP9s.png") no-repeat;
	background-size:100% 100%;
}
.sagimori-arata-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CP9s.png") no-repeat;
	background-size:100% 100%;
}
.takakamo-shizuno-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CP9s.png") no-repeat;
	background-size:100% 100%;
}
.usuzawa-sae-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CP9s.png") no-repeat;
	background-size:100% 100%;
}
.atarashi-ako-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CP9s.png") no-repeat;
	background-size:100% 100%;
}
.haramura-nodoka-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CP9s.png") no-repeat;
	background-size:100% 100%;
}
.kajiki-yumi-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CP9s.png") no-repeat;
	background-size:100% 100%;
}
.mase-yuuko-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CP9s.png") no-repeat;
	background-size:100% 100%;
}
.miyanaga-teru-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CP9s.png") no-repeat;
	background-size:100% 100%;
}
.senoo-kaori-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CP9s.png") no-repeat;
	background-size:100% 100%;
}
.takei-hisa-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CP9s.png") no-repeat;
	background-size:100% 100%;
}
.usuzumi-hatsumi-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CP9s.png") no-repeat;
	background-size:100% 100%;
}
.cardback-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CZHU.png") no-repeat;
	background-size:100% 100%;
}
.hirose-sumire-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CP9s.png") no-repeat;
	background-size:100% 100%;
}
.kakura-kurumi-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CP9s.png") no-repeat;
	background-size:100% 100%;
}
.matano-seiko-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CP9s.png") no-repeat;
	background-size:100% 100%;
}
.nanpo-kazue-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CP9s.png") no-repeat;
	background-size:100% 100%;
}
.shibuya-takami-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CP9s.png") no-repeat;
	background-size:100% 100%;
}
.takimi-haru-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CP9s.png") no-repeat;
	background-size:100% 100%;
}
.yumeno-maho-img{
	background: url("https://s1.ax1x.com/2022/05/30/X3CP9s.png") no-repeat;
	background-size:100% 100%;
}
