.aishlin-wishhart-img{
	background: url("https://i.postimg.cc/9FLFF3GR/Aishlin-Wishhart.png") no-repeat;
	background-size:100% 100%;
}
.amae-koromo-img{
	background: url("https://i.postimg.cc/5082x63b/Amae-Koromo.png") no-repeat;
	background-size:100% 100%;
}
.anetai-toyone-img{
	background: url("https://i.postimg.cc/jqQSmn2h/Anetai-Toyone.png") no-repeat;
	background-size:100% 100%;
}
.arakawa-kei-img{
	background: url("https://i.postimg.cc/c4xLS18G/Arakawa-Kei.png") no-repeat;
	background-size:100% 100%;
}
.atago-hiroe-img{
	background: url("https://i.postimg.cc/90pX7KKk/Atago-Hiroe.png") no-repeat;
	background-size:100% 100%;
}
.atarashi-ako-img{
	background: url("https://i.postimg.cc/rwzyDhJh/Atarashi-Ako.png") no-repeat;
	background-size:100% 100%;
}
.cardback-img{
	background: url("https://i.postimg.cc/d0yqBLgr/cardback.png") no-repeat;
	background-size:100% 100%;
}
.chloe-myeonghwa-img{
	background: url("https://i.postimg.cc/Sx5SCW1m/Chloe-Myeonghwa.png") no-repeat;
	background-size:100% 100%;
}
.ezaki-hitomi-img{
	background: url("https://i.postimg.cc/26zBphpR/Ezaki-Hitomi.png") no-repeat;
	background-size:100% 100%;
}
.fukuji-mihoko-img{
	background: url("https://i.postimg.cc/FRDkhzmf/Fukuji-Mihoko.png") no-repeat;
	background-size:100% 100%;
}
.hanada-kirame-img{
	background: url("https://i.postimg.cc/59KQGXnT/Hanada-Kirame.png") no-repeat;
	background-size:100% 100%;
}
.hao-huiyu-img{
	background: url("https://i.postimg.cc/KjWKgW1x/Hao-Huiyu.png") no-repeat;
	background-size:100% 100%;
}
.haramura-nodoka-img{
	background: url("https://i.postimg.cc/GpjHjt4M/Haramura-Nodoka.png") no-repeat;
	background-size:100% 100%;
}
.hirose-sumire-img{
	background: url("https://i.postimg.cc/zfNyWKGb/Hirose-Sumire.png") no-repeat;
	background-size:100% 100%;
}
.ikeda-kana-img{
	background: url("https://i.postimg.cc/tC1nH9cT/Ikeda-Kana.png") no-repeat;
	background-size:100% 100%;
}
.inoue-jun-img{
	background: url("https://i.postimg.cc/13wgfJs1/Inoue-Jun.png") no-repeat;
	background-size:100% 100%;
}
.iwato-kasumi-img{
	background: url("https://i.postimg.cc/9XnWdZQ8/Iwato-Kasumi.png") no-repeat;
	background-size:100% 100%;
}
.jindai-komaki-img{
	background: url("https://i.postimg.cc/63HB1GLQ/Jindai-Komaki.png") no-repeat;
	background-size:100% 100%;
}
.kainou-yoshiko-img{
	background: url("https://i.postimg.cc/q740JG1R/Kainou-Yoshiko.png") no-repeat;
	background-size:100% 100%;
}
.kajiki-yumi-img{
	background: url("https://i.postimg.cc/hPQKpvJS/Kajiki-Yumi.png") no-repeat;
	background-size:100% 100%;
}
.kakura-kurumi-img{
	background: url("https://i.postimg.cc/KjwxmSWS/Kakura-Kurumi.png") no-repeat;
	background-size:100% 100%;
}
.kanbara-satomi-img{
	background: url("https://i.postimg.cc/PJPdGr2Q/Kanbara-Satomi.png") no-repeat;
	background-size:100% 100%;
}
.karijuku-tomoe-img{
	background: url("https://i.postimg.cc/VkymTwMX/Karijuku-Tomoe.png") no-repeat;
	background-size:100% 100%;
}
.kataoka-yuuki-img{
	background: url("https://i.postimg.cc/2S4rNtFM/Kataoka-Yuuki.png") no-repeat;
	background-size:100% 100%;
}
.kosegawa-shiromi-img{
	background: url("https://i.postimg.cc/mrjcBkNv/Kosegawa-Shiromi.png") no-repeat;
	background-size:100% 100%;
}
.kunihiro-hajime-img{
	background: url("https://i.postimg.cc/FzMzDLNL/Kunihiro-Hajime.png") no-repeat;
	background-size:100% 100%;
}
.mase-yuuko-img{
	background: url("https://i.postimg.cc/13xVKL3j/Mase-Yuuko.png") no-repeat;
	background-size:100% 100%;
}
.matano-seiko-img{
	background: url("https://i.postimg.cc/K8nkpJKv/Matano-Seiko.png") no-repeat;
	background-size:100% 100%;
}
.matsumi-kuro-img{
	background: url("https://i.postimg.cc/8zVsvMy8/Matsumi-Kuro.png") no-repeat;
	background-size:100% 100%;
}
.matsumi-yuu-img{
	background: url("https://i.postimg.cc/cCg6RmyW/Matsumi-Yuu.png") no-repeat;
	background-size:100% 100%;
}
.maya-yukiko-img{
	background: url("https://i.postimg.cc/RVtNqXLQ/Maya-Yukiko.png") no-repeat;
	background-size:100% 100%;
}
.megan-davin-img{
	background: url("https://i.postimg.cc/tRwsXLW4/Megan-Davin.png") no-repeat;
	background-size:100% 100%;
}
.miyanaga-saki-img{
	background: url("https://i.postimg.cc/ZqNZ45tT/Miyanaga-Saki.png") no-repeat;
	background-size:100% 100%;
}
.miyanaga-teru-img{
	background: url("https://i.postimg.cc/G21R2ndv/Miyanaga-Teru.png") no-repeat;
	background-size:100% 100%;
}
.nanpo-kazue-img{
	background: url("https://i.postimg.cc/2y0N2qvx/Nanpo-Kazue.png") no-repeat;
	background-size:100% 100%;
}
.nelly-virsaladze-img{
	background: url("https://i.postimg.cc/NFsw68yM/Nelly-Virsaladze.png") no-repeat;
	background-size:100% 100%;
}
.onjouji-toki-img{
	background: url("https://i.postimg.cc/kX5mDc3Y/Onjouji-Toki.png") no-repeat;
	background-size:100% 100%;
}
.oohoshi-awai-img{
	background: url("https://i.postimg.cc/wj7g4kwR/Oohoshi-Awai.png") no-repeat;
	background-size:100% 100%;
}
.ryuumonbuchi-touka-img{
	background: url("https://i.postimg.cc/59gJxrGF/Ryuumonbuchi-Touka.png") no-repeat;
	background-size:100% 100%;
}
.sagimori-arata-img{
	background: url("https://i.postimg.cc/hjbBQZt6/Sagimori-Arata.png") no-repeat;
	background-size:100% 100%;
}
.senoo-kaori-img{
	background: url("https://i.postimg.cc/3w86br8S/Senoo-Kaori.png") no-repeat;
	background-size:100% 100%;
}
.shibuya-takami-img{
	background: url("https://i.postimg.cc/8zDnjk6p/Shibuya-Takami.png") no-repeat;
	background-size:100% 100%;
}
.shimizudani-ryuuka-img{
	background: url("https://i.postimg.cc/sgcHSFYp/Shimizudani-Ryuuka.png") no-repeat;
	background-size:100% 100%;
}
.shirouzu-mairu-img{
	background: url("https://i.postimg.cc/G2BXZHZQ/Shirouzu-Mairu.png") no-repeat;
	background-size:100% 100%;
}
.shirouzu-mairu+tsuruta-himeko-img{
	background: url("https://i.postimg.cc/qqhxZS6Z/Shirouzu-Mairu-Tsuruta-Himeko.png") no-repeat;
	background-size:100% 100%;
}
.someya-mako-img{
	background: url("https://i.postimg.cc/FFLPpkbF/Someya-Mako.png") no-repeat;
	background-size:100% 100%;
}
.takakamo-shizuno-img{
	background: url("https://i.postimg.cc/Fz3DHwFk/Takakamo-Shizuno.png") no-repeat;
	background-size:100% 100%;
}
.takei-hisa-img{
	background: url("https://i.postimg.cc/65xMm6zr/Takei-Hisa.png") no-repeat;
	background-size:100% 100%;
}
.takimi-haru-img{
	background: url("https://i.postimg.cc/YSF4Z7dF/Takimi-Haru.png") no-repeat;
	background-size:100% 100%;
}
.tawamura-tomoki-img{
	background: url("https://i.postimg.cc/PJ55XnQ2/Tawamura-Tomoki.png") no-repeat;
	background-size:100% 100%;
}
.toyouko-momoko-img{
	background: url("https://i.postimg.cc/xC005Vhn/Toyouko-Momoko.png") no-repeat;
	background-size:100% 100%;
}
.tsujigaito-satoha-img{
	background: url("https://i.postimg.cc/sxx3F93L/Tsujigaito-Satoha.png") no-repeat;
	background-size:100% 100%;
}
.tsuruta-himeko-img{
	background: url("https://i.postimg.cc/W4VjpP2g/Tsuruta-Himeko.png") no-repeat;
	background-size:100% 100%;
}
.usuzawa-sae-img{
	background: url("https://i.postimg.cc/HnFDfqZJ/Usuzawa-Sae.png") no-repeat;
	background-size:100% 100%;
}
.usuzumi-hatsumi-img{
	background: url("https://i.postimg.cc/XNPbG5jV/Usuzumi-Hatsumi.png") no-repeat;
	background-size:100% 100%;
}
.yumeno-maho-img{
	background: url("https://i.postimg.cc/MHnJ36D2/Yumeno-Maho.png") no-repeat;
	background-size:100% 100%;
}
